
.header-trending{
  display: flex;
  align-items: center;
  padding: 5px 0;
}
.title-trending{
  flex: 1;
}
.carousel{
  padding: 20px 0;
}
.header-watch{
  padding: 20px 0;
}
.media-body{
  padding: 10px 30px;
}
.author.media {
  text-decoration: none;
  float: left;
  padding-right: 8%;
}
.header-lastest{
  display: flex;
  align-items: center;
}
.title-lastest{
  flex: 0.86;
}
.header-read {
  padding: 20px 0;
}
h3.header-widget {
  text-align: center;
}
p.description-about.card-text {
  text-align: center;
}
.post-lastest {
  width: 65%;
  padding: 2%;
}
a.load-more.badge.badge-danger {
  width: 100%;
  height: 50px;
}
a.title-link.media {
  text-decoration: none;
}
.news.row {
  padding: 10px 0;
}
.read.row {
  padding: 10px 0;
}
.footer {
  text-align: center;
  padding: 5%;
  background:#AA8B7F;
}
a.social-item.btn.btn-secondary {
  margin: 2%;
}